@using Microsoft.AspNetCore.Identity
@using Ignorama
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject ForumContext ForumContext

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @ViewData["Title"]
        @if (ViewData["Title"] != null && !ViewData["Title"].Equals(""))
        {
            <text>-</text>
        }
        Ignorama
    </title>

    <link rel="icon" type="image/x-icon" href="/favicon.png">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link type="text/css" rel="stylesheet" href="~/lib/bootstrap-vue.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src=/ignorama.png>
                </a>
                @{
                    var slogans = new[]
                    {
                                                                                                                "I should've made it blue",
                                                                                                                "Ignorance for the masses",
                                                                                                                "Made with MS Paint",
                                                                                                                "Your hobbies are stupid",
                                                                                                            };
                    Random rnd = new Random();
                    int r = rnd.Next(slogans.Length);
                    <b class="slogan hidden-xs">@slogans[r]</b>
                }
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                @if (SignInManager.IsSignedIn(User))
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Context.Request.Path" method="post">
                                <button type="submit" class="btn btn-link navbar-btn navbar-link">
                                    Logout
                                </button>
                            </form>
                        </li>
                    </ul>
                    <div class="loggedInAs">Logged in as @UserManager.GetUserName(User)</div>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class=header-link asp-area="Identity" asp-page="/Account/Register">
                                Sign up
                            </a>
                        </li>
                        <li>
                            <a class=header-link asp-area="Identity" asp-page="/Account/Login">
                                Log in
                            </a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </nav>

    @if (Util.IsBanned(await UserManager.GetUserAsync(User), ForumContext, Context.Request))
    {
        <h1 class="centered">You're Banned!</h1>
    }

    <div class="container body-content">
        <main>
            @RenderBody()
        </main>

        <footer>
            <p>
                All trademarks and copyrights are owned by their respective parties.
                Comments and uploaded images are the responsibility of the poster.
            </p>
            <p>Copyright © 2018 Ignorama. All rights reserved.</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/vue.js"></script>
        <script src="~/lib/vue-cookies.js"></script>
        <script src="~/lib/polyfill.js"></script>
        <script src="~/lib/bootstrap-vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-scrollto"></script>
        <script src="~/lib/axios.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
        <script src="https://unpkg.com/vue-cookies@1.5.7/vue-cookies.js"></script>
        <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
        <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-scrollto"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>