@model Ignorama.Models.ThreadViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row constrained">
    <h2 class="page-title">@ViewData["Title"]</h2>
</div>

<div class="row constrained">
    <b-pagination v-if="posts.length > perPage" size="sm" :total-rows="posts.length" v-model="page" :per-page="perPage"></b-pagination>
</div>

<div class="row constrained" v-if="!posts.length">
    <div class="col-xs-12 thread loading">
        <img src="~/loading.png" />
    </div>
</div>
<div class="row constrained" v-else-if="!visiblePosts.length" v-cloak>
    <div class="col-xs-12 thread">
        Nothing to see here!
    </div>
</div>
<div v-else class="row constrained" v-for="post in visiblePosts">
    <div :id="'post' + post.ID" class="col-xs-12 thread" :class="{ seen: post.ID <= @Model.LastSeenPostID, highlighted: post.Highlighted }" v-cloak>
        <div class="post-info">
            <b v-if="post.Anonymous || !post.User">Anonymous</b>
            <b v-else>{{ post.User.UserName }}</b>
            <span v-if="post.RevealOP">| OP</span>
            <span v-else-if="post.Bump">| Bump</span>
            <span class="time">{{ post.Time | date }}</span>
            <br />
            <span v-if="'@Model.Locked' !== 'True' || '@Model.Roles.Contains("Moderator")' === 'True'">
                <a href="#" v-on:click.prevent="reply(post, true)">reply</a>
                |
                <a href="#" v-on:click.prevent="reply(post)">reference poster</a>
            </span>
        </div>
        <br>
        <div v-html="$options.filters.formatPost(post.Text)"></div>
    </div>
</div>

<div class="row constrained">
    <b-pagination v-if="posts.length > perPage" size="sm" :total-rows="posts.length" v-model="page" :per-page="perPage"></b-pagination>
</div>

@if (!Model.Locked || Model.Roles.Contains("Moderator"))
{
    <div class='slid-in' id='quickreply'>
        <div class="centered"><a href='javascript:slide();'>Reply <span id="replyCaret" class="caret caret-up"></span></a></div>
        <form id='postform' asp-controller="Posts" asp-action="New" method='post'>
            @Html.AntiForgeryToken()
            <textarea id='postfield' name='Text' rows='7' class='col-xs-12' style='resize:none;' required></textarea>
            <br />
            <div>
                @if (Model.IsOP)
                {
                    <label>
                        <input id='RevealOP' name='RevealOP' type='checkbox'>
                        Reveal OP
                    </label>
                }
                else
                {
                    <label>
                        <input name='Bump' type='checkbox'>
                        Bump!
                    </label>
                }
                @if (SignInManager.IsSignedIn(User))
                {
                    <label>
                        <input name='Anonymous' type='checkbox'>
                        Post Anonymously
                    </label>
                }
                <div>
                    <input id='submitbutton' class='btn btn-default btn-sm' name="Submit1" type="submit" value="Submit" />
                </div>
            </div>
        </form>
        <partial name="_UploadForm" />
    </div>
}

@section Scripts {
    <script>var lastSeenPostID = '@Model.LastSeenPostID'</script>
    <environment include="Development">
        <script src="~/js/posts.js" asp-append-version="true"></script>
        <script src="~/js/uploadfile.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/posts.min.js" asp-append-version="true"></script>
    </environment>
}