@model Ignorama.Models.ThreadViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-title">@Model.Title</h2>

<b-pagination size="sm" :total-rows="posts.length" v-model="page" :per-page="perPage"></b-pagination>
<div class="row" v-for="post in visiblePosts">
    <div :id="'post' + post.ID" class="col-xs-12 thread" :class="{ seen: post.ID <= @Model.LastSeenPostID, highlighted: post.Highlighted }" v-cloak>
        <div style="margin-bottom: -15px;">
            <span style="font-size: 12px; color: gray;">
                <b v-if="post.Anonymous || !post.User">Anonymous</b>
                <b v-else>{{ post.User.UserName }}</b>
                <span v-if="post.RevealOP">| OP</span>
                <span v-else-if="post.Bump">| Bump</span>
                <span class="time" style="float: right;">{{ post.Time | date }}</span>
                <br />
                <span v-if="'@Model.Locked' !== 'True' || '@Model.Roles.Contains("Moderator")' === 'True'">
                    <a href="#" v-on:click.prevent="reply(post, true)">
                        reply
                    </a>
                    |
                    <a href="#" v-on:click.prevent="reply(post)">
                        reference poster
                    </a>
                </span>
            </span>
        </div>
        <br>
        <div v-html="$options.filters.formatPost(post.Text)"></div>
    </div>
</div>
<b-pagination size="sm" :total-rows="posts.length" v-model="page" :per-page="perPage"></b-pagination>

@if (!Model.Locked || Model.Roles.Contains("Moderator"))
{
    <div class='slid-in' id='quickreply'>
        <div style='text-align:center;'><a href='javascript:slide();'>Reply</a></div>
        <form id='postform' asp-controller="Posts" asp-action="New" method='post'>
            @Html.AntiForgeryToken()
            <textarea id='postfield' name='Text' rows='7' class='col-xs-12' style='resize:none;' required></textarea>
            <br />
            <div style='float:left;'>
                @if (Model.IsOP)
                {
                    <input name='RevealOP' type='checkbox'><text>Reveal OP</text>
                }
                else
                {
                    <input name='Bump' type='checkbox'><text>Bump!</text>
                }
                @if (SignInManager.IsSignedIn(User))
                {
                    <input name='Anonymous' type='checkbox'><text>Post Anonymously</text>
                }
                <div style='padding-bottom:5px; display:block;'>
                    <input id='submitbutton' class='btn btn-default btn-sm' name="Submit1" type="submit" value="Submit" />
                </div>
        </form>
        <partial name="_UploadForm" />
    </div>
}

@section Scripts {
    <script>var lastSeenPostID = '@Model.LastSeenPostID'</script>
    <environment include="Development">
        <script src="~/js/posts.js" asp-append-version="true"></script>
        <script src="~/js/uploadfile.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/posts.min.js" asp-append-version="true"></script>
    </environment>
}