@model Ignorama.Models.BansViewModel
@using Ignorama

@{
    var username = "";
    if (Model.Post.User != null)
    {
        username = Model.Post.User.UserName;
    }
    else
    {
        username = "Anonymous";
    }
    ViewData["Title"] = username + "'s Banlog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Posted As
            </th>
            <th>
                Banned By
            </th>
            <th>
                Reason
            </th>
            <th>
                Until
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bans)
        {
            <tr>
                <td>
                    @if (item.Post.User != null && !item.Post.Anonymous)
                    {
                        @item.Post.User.UserName
                    }
                    else
                    {
                        <text>Anonymous</text>
                    }
                </td>
                <td>
                    @item.Moderator.UserName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>
                <td>
                    <span class="time">@Html.DisplayFor(modelItem => item.EndTime)</span>
                    @{
                        var timeLeft = "";
                        if (item.EndTime > DateTime.UtcNow)
                        {
                            timeLeft = "(" + (item.EndTime - DateTime.UtcNow).ToReadableString() + " from now)";
                        }
                    }
                    @if (timeLeft != "")
                    {
                        <br />
                        @timeLeft
                    }
                </td>
                <td>
                    @item.Post.Text
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(function () {
            $(".time").each(function () {
                var date = new Date($(this).html() + " UTC");
                $(this).text(date.toLocaleString());
            });
        });
    </script>
}